extends layout

block content
  h1= title
  p CPSC 448 Directed Studies Project

  // Wrapper
  #wrapper

    // TEAM INFO CARD
    div.card1(id='teamCard1')
      h2 Team 1
      img.cardLogo(id='teamLogo1', src='')
      div.container
        h4(id='card1TeamName')
          strong

    div.card2(id='teamCard2')
      h2 Team 2
      img.cardLogo(id='teamLogo2', src='')
      div.container
        h4(id='card2TeamName')
          strong
    // /TEAM INFO CARD     
    
    // TEAMS LIST
    #teamList
      h2 Teams List
      table
        thead
          th Team ID
          th Team Name
          th Logo
        tbody
    // /TEAMS LIST

    // GET STATS
    #getStats
      h2 Get Stats
        input#inputUserName(type='text', placeholder='YYYY-MM-DD')
        input#inputUserEmail(type='text', placeholder='Game IDs')
        br
        input#inputUserFullname(type='text', placeholder='Page')
        input#inputUserAge(type='text', placeholder='Results per page')
        br
        input#inputUserLocation(type='text', placeholder='Player IDs')
        input#inputUserGender(type='text', placeholder='gender')
        br
      button#btnPredict Predict 
      button#btnGetStats Get Stats
    // /GET STATS


  // /WRAPPER