extends layout

block content
  h1= title
  p CPSC 448 Directed Studies Project

  // Wrapper
  #wrapper

    // TEAM INFO CARD
    div.card1(id='teamCard1')
      h2 Team 1
        select.card1Years(id='card1Year')
      img.cardLogo(id='teamLogo1', src='')
      div.container1
        h4(id='card1TeamName')
        p(id='card1Info')
      button(id='showPlayers1') Show Players

    div.card2(id='teamCard2')
      h2 Team 2
        select.card2Years(id='card2Year')
      img.cardLogo(id='teamLogo2', src='')
      div.container2
        h4(id='card2TeamName')
        p(id='card2Info')
      button(id='showPlayers2') Show Players
    // /TEAM INFO CARD     
  
    // PREDICTION METHOD
    div.dropdown
      h2 Prediction Method
        select.dropdown-content(id='methods')
          option(selected='true') Please Select
          option(id='ratio') Win/Loss Ratio
          option(id='starting') Starting 5 PER
          option(id='team') Team Stats
          option(id='model') Fancy ML?
        p(id='predictionMethod') Please select a method
    // /PREDICTION METHOD

    // TEAMS LIST
    #teamList
      h2 Teams List
      table
        thead
          th Team ID
          th Team Name
          th Logo
        tbody
    // /TEAMS LIST

    // PLAYERS LIST
    #playerList
      h2 Players List
      table
        thead
          th Player ID
          th First Name
          th Last Name
          th Number
          th Position
          th Date of Birth (Age)
          th Height (m)
          th Weight (kg)
          th NBA Start
          th College Name
          th Affiliation
        tbody
    // /PLAYERS LIST



  // /WRAPPER