extends layout

block content
  h1= title
  // Wrapper
  #wrapper

    // TEAM INFO CARD
    div.card1(id='teamCard1')
      h2 Home
        select.card1Years(id='card1Year')
          option(selected='true') Season
      img.cardLogo(id='teamLogo1', src='')
      div.container1
        h4(id='card1TeamName')
        p(id='card1Info') 1) Select a home team from the teams list below
      button(id='showPlayers1') Show Players
      button(id='showAdvancedStats1') Show Advanced Stats

    div.card2(id='teamCard2')
      h2 Away
        select.card2Years(id='card2Year')
          option(selected='true') Season
      img.cardLogo(id='teamLogo2', src='')
      div.container2
        h4(id='card2TeamName')
        p(id='card2Info') 2) Select an away team from the teams list below
      button(id='showPlayers2') Show Players
      button(id='showAdvancedStats2') Show Advanced Stats
    // /TEAM INFO CARD     
  
    // PREDICTION METHOD
    div.dropdown
      h2 Prediction Method's Visualized
        select.dropdown-content(id='methods')
          option(selected='true') Instructions
          option(id='ratio') Win/Loss Ratio
          option(id='top5per') Starting 5 PER
          option(id='top12per') Top 12 PER
          option(id='team') Simple Rating System
          option(id='model') 538 CARM-ELO Rating
        button(id='predictButton') Predict
        p(id='predictionMethod')
      canvas.pieChart(id="pieChart", width="0", height="0")
      canvas.barChart(id="barChart", width="0", height="0")
      canvas.radarChart(id="radarChart", width="0", height="0")
      img.winnerLogo(id="winnerLogo", src="")
      
    // /PREDICTION METHOD

    // TEAMS LIST
    #teamList
      h2 Teams List
      table
        thead
          th Team ID
          th Team Name
          th Logo
        tbody
    // /TEAMS LIST

    // INFO LIST
    #infoList
      h2 Information Table
      table(id='infoTable')
        thead
        tbody
    // /INFO LIST



  // /WRAPPER