doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js")
    script(src='/javascripts/radarChart.js')
    script(src='/javascripts/global.js')
